-
  const defaultHeroProps = {
      classes: '',
      title: 'Универсальные телекоммуникационные',
      titleMob: 'Универсальные телекоммуникац.',
      markedTitle: 'шкафы ДОБРЫНЯ©',
      subtitle: 'Эффективная организация пространства серверных помещений и мобильных передвижных пунктов',
      btnName: 'Собрать шкаф'
  }

mixin hero(props = defaultHeroProps, ...dataset)
  include ../ui/btn
  -
    const checkProps = {
        classes: props.classes ? props.classes : defaultHeroProps.classes,
        title: props.title ? props.title : defaultHeroProps.title,
        titleMob: props.titleMob ? props.titleMob : defaultHeroProps.titleMob,
        markedTitle: props.markedTitle ? props.markedTitle : defaultHeroProps.markedTitle,
        subtitle: props.subtitle ? props.subtitle : defaultHeroProps.subtitle,
        btnName: props.btnName ? props.btnName : defaultHeroProps.btnName,
    }
  section.section.hero
    .hero__bg
      picture
        source(
          media="(max-width: 768px)",
          srcset="./images/hero/bg-mobile.webp",
          type="image/webp"
        )
        source(
          media="(max-width: 768px)",
          srcset="./images/hero/bg-mobile.jpg",
          type="image/jpeg"
        )
        source(
          srcset="./images/hero/bg.webp",
          type="image/webp"
        )
        img.hero__bg-full(
          src="./images/hero/bg.jpg",
          alt="Background image",
          width="1920",
          height="1080",
          loading="eager",
          fetchpriority="high"
        )
      picture
        source(
          media="(max-width: 768px)",
          srcset="./images/hero/locker-mobile.webp",
          type="image/webp"
        )
        source(
          media="(max-width: 768px)",
          srcset="./images/hero/locker-mobile.jpg",
          type="image/jpeg"
        )
        source(
          srcset="./images/hero/locker.webp",
          type="image/webp"
        )
        img.hero__bg-center(
          src="./images/hero/locker.jpg",
          alt="Locker image",
          width="800",
          height="600",
          loading="eager",
          fetchpriority="high"
        )
    .container
      .hero__inner
        h1.hero__title
          .hero__title-text= checkProps.title
          .hero__title-text.hero__title-text--mob= checkProps.titleMob
          .hero__title-marked= checkProps.markedTitle
        .hero__subtitle= checkProps.subtitle
        +btn({ name: checkProps.btnName, })
