-
  const defaultSliderProps = {
      classes: '',
  }

mixin slider(props = defaultSliderProps, ...dataset)
  -
    const checkProps = {
        classes: props.classes ? props.classes : defaultSliderProps.classes,
    }
  section.slider(data-smooth-scrolling="application", class=checkProps.classes)
    .container
      .swiper
        .swiper-wrapper
          - for (let i = 0; i < 5; i++)
            .swiper-slide
              .slider__item
                h3 Варианты применения
                .slider__item-block
                  .slider__item-block-wrapper
                    img.lazy(
                      src="./images/no-image.jpg",
                      data-src="./images/slider/1.webp",
                      alt="Slide " + (i + 1)
                    )
                    .slider__item-info
                      h4.slider__item-info-title Шкаф в серверной
                      p.slider__item-info-subtitle Шкафы ДОБРЫНЯ® предназначены для телекоммуникационных центров, серверных, офисов и других мест, где требуется размещение электросетей и технологического оборудования, как в гражданской, так и в военной сферах.
                .slider__item-info.slider__item-info--mob
                  h4.slider__item-info-title Шкаф в серверной
                  p.slider__item-info-subtitle Шкафы ДОБРЫНЯ® предназначены для телекоммуникационных центров, серверных, офисов и других мест, где требуется размещение электросетей и технологического оборудования, как в гражданской, так и в военной сферах.
            .swiper-slide
              .slider__item.slider__item--double
                h3 Варианты применения
                .slider__item--double-wrp
                  .slider__item-block
                    .slider__item-block-wrapper
                      img.lazy(
                        src="./images/no-image.jpg",
                        data-src="./images/slider/1.webp",
                        alt="Slide " + (i + 1)
                      )
                      .slider__item-info
                        h4.slider__item-info-title Шкаф в серверной
                        p.slider__item-info-subtitle Шкафы ДОБРЫНЯ® предназначены для телекоммуникационных центров, серверных, офисов и других мест, где требуется размещение электросетей и технологического оборудования, как в гражданской, так и в военной сферах.
                  .slider__item-block
                    .slider__item-block-wrapper
                      img.lazy(
                        src="./images/no-image.jpg",
                        data-src="./images/slider/1.webp",
                        alt="Slide " + (i + 1)
                      )
                  .slider__item-info.slider__item-info--mob
                    h4.slider__item-info-title Шкаф в серверной
                    p.slider__item-info-subtitle Шкафы ДОБРЫНЯ® Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius voluptate maiores quibusdam modi laboriosam sapiente nulla cum incidunt culpa officia ut fugiat sunt, impedit optio atque hic nam, quisquam molestias? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus illum aspernatur fugit quo quisquam totam iste et aperiam distinctio amet, dolorem hic accusamus dolorum officia quae libero expedita possimus vel. предназначены для телекоммуникационных центров, серверных, офисов и других мест, где требуется размещение электросетей и технологического оборудования, как в гражданской, так и в военной сферах.
      .slider__controls
        button.slider__controls-btn.slider__controls-btn--prev
          img.lazy(
            src="./images/arrow-r.svg",
            alt='arrow'
          )
        button.slider__controls-btn.slider__controls-btn--next
          img.lazy(
            src="./images/arrow-r.svg",
            alt='arrow'
          )
    .swiper-pagination